<!DOCTYPE html>
<html>

<body>
    @Scripts.Render("~/bundles/layui")

    <div class="layui-form layui-form-pane1" action="" lay-filter="first">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="hidden" name="Username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="User_name" lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请务必填写用户名</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="User_pwd" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请务必填写密码</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="User_realname" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="sub">立即提交</button>
                <button onclick="parent.layer.closeAll()" class="layui-btn layui-btn-primary">关闭</button>
            </div>
        </div>
    </div>

    @Styles.Render("~/Scripts/css")

    <script type="text/javascript">
    layui.use(["form"], function () {
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.$;

        form.on("submit(sub)", function (obj) {

            console.log(obj);
            var user = obj.field;

            layer.load(5, { shade: [0.5, "#5588AA"] });
            //与后端交互
            $.ajax({
                type: "POST",
                data: {
                    user: user
                },
                dataType: "json",
                url: "@Url.Action("SubUserDetail")",
                success: function (result) {
                    layer.closeAll("loading");
                    if (result.Success)
                    {
                        layer.msg(result.Message, { icon: 1 });
                        parent.layer.closeAll();
                    }
                    else {
                        layer.msg(result.Message, { icon: 2 });
                    }
                }
            })
        })


        var userInfo = '@Html.Raw(ViewBag.userInfo)';

        var jsonUser = JSON.parse(userInfo);
            if (jsonUser) {
                if (jsonUser.User_rank === 1) {
                    jsonUser.User_rank = "true";
                }
                else {
                    jsonUser.User_rank = "false";
                }
            }

            form.val("first", jsonUser);


    })
    </script>



</body>



</html>


